*.swp
build
.gopath
.idea/workspace.xml
bin
.DS_Store
.vscode
ginkgo.report

vendor
coverage.out
coverage-report.out
unittest-report.json
config/crd/external
.idea
coverage-report.html
venv
test-output
